@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Cairo, sans-serif;
  /* background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #373b44;
}

::-webkit-scrollbar-thumb {
  background-color: #4286f4;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #919192;
}
.tools {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  background-color: #01112c;
  padding: 15px 50px;
}
.tools .clear-btn {
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 15px;
  align-self: center;
  cursor: pointer;
  margin-right: 40px;
  transition: all 0.4s;
}
.tools .clear-btn i {
  margin-right: 7px;
}
.tools .clear-btn:hover {
  transform: scale(0.8);
}
/* Search 3 */
.search-box {
  position: relative;
  overflow: hidden;
  width: 300px;
  min-height: 60px;
  margin-right: auto;
}
.search-box .s-input {
  background-color: #fff;
  padding: 0px;
  border-radius: 40px 0 0 40px;
  width: 0%;
  height: 100%;
  border: none;
  transition: all 0.5s ease-out;
}
.search-box.active .s-input:focus {
  width: 90%;
  padding: 10px 20px;
}
.search-box .s-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgb(101, 180, 245);
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  cursor: pointer;
  z-index: 2;
}
.search-box.active .s-input:focus + .s-icon {
  left: calc(100% - 60px);
  background: rgb(255, 255, 255);
  color: #333;
  animation: rotate 0.5s ease-out;
}
.search-box .s-icon:focus,
.search-box .s-input:focus {
  outline: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tools .back-changer {
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.tools .back-changer .gradients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.tools .back-changer .gradients .gradient {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  transition: transform 0.4s;
  cursor: pointer;
  transform-origin: top;
  background-position: center;
  box-sizing: content-box;
}
.tools .back-changer .gradients .gradient:hover {
  transform: scale(2.5);
}
.tools .back-changer .gradients .gradient.active {
  border: 2px solid #fff;
}
.tools .back-changer .gradients .gradient.g-1,
body.g1,
.tools .clear-btn.g1,
.search-box .s-icon.g1 {
  background: linear-gradient(to right, #000428, #004e92);
}
.tools .back-changer .gradients .gradient.g-2,
body.g2,
.tools .clear-btn.g2,
.search-box .s-icon.g2 {
  background: linear-gradient(to right, #43cea2, #185a9d);
}

.tools .back-changer .gradients .gradient.g-3,
body.g3,
.tools .clear-btn.g3,
.search-box .s-icon.g3 {
  background: linear-gradient(to right, #d64c7f, #ee4758 50%);
}
.tools .back-changer .gradients .gradient.g-4,
body.g4,
.tools .clear-btn.g4,
.search-box .s-icon.g4 {
  background: linear-gradient(to right, #0099f7, #f11712);
}
.tools .back-changer .gradients .gradient.g-5,
body.g5,
.tools .clear-btn.g5,
.search-box .s-icon.g5 {
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
}

@media (max-width: 632px) {
  .tools {
    padding: 15px;
  }
}
@media (max-width: 510px) {
  .tools .back-changer {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 365px) {
  .tools .back-changer .gradients {
    column-gap: 5px;
  }
}
.notes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
  perspective: 2000px;
  overflow: hidden;
}
.notes .note-wrapper {
  width: auto;
  height: auto;
  opacity: 0;
  transform: translateZ(-1000px);
  transition: opacity 0.5s, transform 0.5s, background-color 1s;
  cursor: move;
}
.notes .note-wrapper.animate {
  opacity: 1;
  transform: translateZ(0);
  transition: opacity 0.5s, transform 0.5s;
}
.notes .note {
  max-height: 700px;
  min-height: 350px;
  max-width: 700px;
  min-width: 300px;
  border-radius: 5px;
  resize: both;
  overflow: hidden;
  position: relative;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr 60px 60px;
}

.notes .note.over {
  animation: bounce 2s infinite alternate linear;
}

.notes .note img {
  width: 70px;
  position: absolute;
  top: 0;
  right: -20px;
  transform: translateX(-50%);
}
.notes .note .title {
  font-size: 24px;
  padding: 20px;
  grid-column: 1/3;
  outline: none;
  overflow: hidden;
  text-transform: capitalize;
  cursor: text;
}
.notes .note .title.placeholder {
  /* animation: glow 1s ease-in-out infinite alternate; */
  color: rgba(255, 255, 255, 0.502);
}

.notes .note .content {
  background-image: url("https://www.tilingtextures.com/wp-content/uploads/2018/11/0066-512x512.jpg");
  background-position: center;
  background-size: auto;
  padding: 20px;
  padding-left: 38px;
  font-size: 23px;
  grid-column: 1/-1;
  width: 101%;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
  border-top: 1px solid rgba(0, 0, 0, 0.164);
  color: #333;
  cursor: text;
}
.notes .note .content.placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.notes .note .date {
  padding: 20px;
  grid-column: 1/2;
  align-self: center;
  color: #ddd;
  font-size: 15px;
}
.notes .note .date i {
  margin-right: 7px;
}
.notes .note .delete {
  padding: 20px;
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.notes .note .delete:hover {
  transform: scale(0.9);
  color: #ddd;
}
.note .colors {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 5px 10px 20px 10px;
}
.note .colors .color {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.note .colors .color.active {
  border: 1px solid #ddd;
}
.add {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #fff;
  box-shadow: inset 0.2rem 0.2rem 1rem #ffffff,
    inset -0.2rem -0.2rem 1rem #565656, 0.3rem 0.3rem 0.6rem #333334,
    -0.2rem -0.2rem 0.5rem #373b44;
}
.add::before,
.add::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 5px;
  background-color: #333;
  border-radius: 10px;
  transition: all 0.5s;
}
.add::after {
  transform: translate(-50%, -50%) rotateZ(90deg);
}
/* .add:hover {
  animation: bounce 1.5s infinite alternate linear;
} */
.add:hover::before,
.add:hover::after {
  animation: grow 1.5s infinite alternate linear;
}
.add:active {
  /* transform: scale(0.98); */
  box-shadow: inset 0.2rem 0.2rem 1rem #ffffff,
    inset -0.2rem -0.2rem 1rem #565656, 0.3rem 0.3rem 0.6rem #000,
    -0.2rem -0.2rem 0.5rem #000;
  color: #fff;
}
@media (max-width: 550px) {
  .notes {
    padding: 50px 10px;
  }
  .add {
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
  }
  .add::before,
  .add::after {
    height: 30px;
  }

  .add:hover::before,
  .add:hover::after {
    animation: none;
  }
}
/* Animations */
@keyframes bounce {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
      0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff,
      0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
}
@keyframes grow {
  0% {
    height: 50px;
    background-color: #dd8811;
  }
  50% {
    height: 40px;
    background-color: #7a2459;
  }
  100% {
    height: 50px;
    background-color: #1f7174;
  }
}
